@media screen and (max-width: 1920px) {
  #hero .carousel-item img {
    height: 950px;
  }
}
@media screen and (max-width: 1440px) {
  #hero .carousel-caption {
    width: 70%;
  }
  #hero .carousel-item img {
    height: 800px;
  }
}
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 30px 0;
  }
  .navbar-expand-lg .navbar-nav li:after {
    top: 0px;
  }
  .sticky {
    padding: 15px 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 12px;
  }
  #hero .carousel-item img {
    height: 640px;
  }
  #hero .carousel-item h3 {
    font-size: 16px;
    padding: 15px 40px;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
  }
  #hero .carousel-caption {
    width: 75%;
  }
  #hero .carousel-item h1 {
    font-size: 36px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: -1px;
  }
  #hero .carousel-item h2 {
    font-size: 22px;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
  }
  #hero .carousel-item h5 {
    font-size: 14px;
    padding-bottom: 25px;
    line-height: 24px;
  }
  #hero .btn-primary {
    font-size: 14px;
    padding: 10px 18px;
    font-weight: 600;
  }
  #hero .carousel-indicators li {
    height: 3px;
  }
  .about {
    padding-top: 40px;
  }
  .about .heading h3 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1px;
    padding-bottom: 10px;
  }
  .about .icon {
    margin-bottom: 20px;
  }
  .about .heading {
    padding-bottom: 10px;
  }
  .about .icon .fa {
    font-size: 30px;
    width: 70px;
    height: 70px;
  }
  .about .fa-send:before,
  .fa-paper-plane:before {
    line-height: 70px;
  }
  .about .fa {
    font-size: 22px;
  }
  .about .inner-content {
    padding-top: 50px;
  }
  .about .inner-content h3 {
    font-size: 22px;
  }
  .about .box1 {
    padding-top: 53px;
  }
  .about .heading h4 {
    font-size: 14px;
    padding-bottom: 40px;
  }
  .about .inner-content p {
    font-size: 14px;
  }
  .blog {
    padding-top: 75px;
    padding-bottom: 60px;
  }
  .blog .text-block h4 {
    padding: 12px 0;
  }
  .blog .heading h3 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1px;
    padding-bottom: 10px;
  }
  .blog .heading h4 {
    font-size: 14px;
    padding-bottom: 40px;
  }
  .blog .blog-column1 h5 {
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: -6px;
    line-height: 24px;
  }
  .blog .blog-column1 p {
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
  }
  .portfolio {
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 30px;
  }
  .portfolio .heading h3 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -0.5px;
    padding-bottom: 5px;
  }
  .portfolio .heading h4 {
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-bottom: 25px;
  }
  .portfolio .card-deck .card .img-fluid {
    height: 300px;
  }
  .Subscribe {
    padding-bottom: 30px;
  }
  .Subscribe .heading h3 {
    font-size: 31px;
  }
  .Subscribe .btn-info {
    font-size: 14px;
    width: 125px;
  }
  .Subscribe input {
    width: 255px;
  }
  .Subscribe .main {
    padding: 30px 0;
  }
  footer h5 {
    font-size: 14px;
  }
  footer .content p {
    padding-right: 30px;
  }
  footer {
    padding-top: 30px;
  }
  footer .footer-copyright p {
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 20px 0;
  }
  .banner .heading h1 {
    font-size: 36px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .banner .heading h2 {
    font-size: 22px;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
  }
  #about-us h3 {
    font-size: 27px;
    padding-bottom: 30px;
  }
  #about-us .image {
    width: 100%;
    height: 300px;
  }
  #about-us p {
    font-size: 12px;
  }
  #about-us {
    padding-top: 50px;
    padding-bottom: 0;
  }
  #about-us p {
    margin-bottom: 150px;
  }
  #contact p {
    font-size: 14px;
    padding-bottom: 0;
    text-align: left;
    line-height: 30px;
    padding: 0;
    font-weight: 400;
  }
  #contact input {
    height: 55px;
  }
  #contact .btn-primary {
    height: 56px;
  }
  #contact {
    padding-bottom: 100px;
  }
  .blog-page {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .blog-page h2 {
    font-size: 26px;
    padding-bottom: 20px;
  }
  .blog-page hr {
    margin-bottom: 40px;
  }
  .blog-page .image-one {
    padding-bottom: 30px;
  }
  .blog-page .text-block h4 {
    padding: 12px 0;
  }
  .blog-page .heading h3 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1px;
    padding-bottom: 10px;
  }
  .blog-page .heading h4 {
    font-size: 14px;
    padding-bottom: 40px;
  }
  .blog-page .blog-column1 h5 {
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: -6px;
    line-height: 24px;
  }
  .blog-page .blog-column1 p {
    font-size: 12px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
  }
  #blog-page .blog-heading1 h2 {
    font-size: 26px;
    padding-bottom: 20px;
  }
  #blog-page .heading1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    padding: 20px 0;
  }
  #blog-page figure img {
    width: 100%;
    height: 300px;
    margin-bottom: 0;
  }
  #blog-page h4 {
    font-size: 14px;
    padding-top: 9px;
  }
  #blog-page .social-links li {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    border-radius: 0;
  }
  #blog-page p {
    font-size: 14px;
    padding-bottom: 0;
  }
  #blog-page .heading2 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #blog-page .heading2 {
    font-size: 32px;
    letter-spacing: -1px;
  }
  #blog-page .blog-column1 h5 {
    font-size: 16px;
    padding-bottom: 10px;
    line-height: 23px;
  }
  #blog-page .blog-column1 p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  #blog-page .text-block {
    top: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #blog-page .text-block h4 {
    font-size: 12px;
  }
  #blog-page {
    padding-bottom: 60px;
  }
  .portfolio .box .img-fluid {
    height: 250px;
  }
  .portfolio .carousel-control-next,
  .portfolio .carousel-control-prev {
    top: -10%;
  }
  .portfolio .carousel-control-prev {
    left: -96px;
  }
  .portfolio .carousel-control-next {
    right: -96px;
  }
  .modal-body {
    padding: 0;
  }
  #portfolio .overlay {
    height: 91%;
    width: 90.5%;
  }
  .services h2 a {
    line-height: 70px;
    font-size: 20px;
    padding-left: 10px;
  }
  .services .inner-content {
    padding: 30px;
  }
  .services .fa-2x {
    line-height: 74px;
    font-size: 30px;
  }
  .services .image {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .portfolio .overlay {
    height: 89.2%;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
    background: #2cbf84;
  }
  .navbar-expand-lg .navbar-nav li:after {
    display: none;
  }
  .navbar-dark .navbar-nav .active > .nav-link {
    background: transparent;
  }
  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
  .top-container .col1 h5 {
    font-size: 10px;
    padding: 9px 0;
    letter-spacing: 2px;
  }
  .top-container .col2 .fa {
    width: 30px;
    height: 30px;
    font-size: 12px;
    padding: 10px 0;
    margin-right: -5px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.4em 0;
  }
  .navbar-expand-lg .navbar-nav li {
    padding: 0;
  }
  .navbar-collapse {
    padding-top: 10px;
  }
  .navbar-brand img {
    width: 60%;
    margin-top: 8px;
  }
  #hero .carousel-control-next,
  .carousel-control-prev {
    top: 20%;
  }
  #hero .carousel-caption {
    top: 70%;
  }
  #hero .carousel-item h3 {
    font-size: 14px;
    padding: 15px 30px;
  }
  #hero .carousel-item h1 {
    font-size: 32px;
  }
  #hero .carousel-item h2 {
    font-size: 18px;
  }
  #hero .carousel-item h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .about .heading h3 {
    font-size: 18px;
    letter-spacing: 0;
    padding-bottom: 5px;
  }
  .about .heading h4 {
    letter-spacing: 0;
    font-size: 12px;
  }
  .about .heading {
    padding-bottom: 5px;
  }
  .about .icon .fa {
    font-size: 24px;
    width: 60px;
    height: 60px;
  }
  .about .fa-send:before,
  .fa-paper-plane:before {
    line-height: 60px;
  }
  .about .inner-content h3 {
    font-size: 18px;
  }
  .about .fa {
    font-size: 18px;
  }
  .about .box1 {
    padding-top: 48px;
  }
  .about .inner-content p {
    font-size: 12px;
  }
  .about .inner-content {
    padding-top: 22px;
    height: auto;
    padding-bottom: 10px;
  }
  .about .box1 {
    padding-top: 20px;
    height: auto;
  }
  .about .col1,
  .about .col2,
  .about .col3 {
    height: auto;
  }
  .blog {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .blog .heading h3 {
    font-size: 18px;
    letter-spacing: 0;
    padding-bottom: 5px;
  }
  .blog .img-thumbnail {
    height: 200px;
    margin-bottom: 20px;
  }
  .blog .row:nth-child(2) {
    padding-bottom: 40px;
  }
  .blog .text-block h4 {
    padding: 9px 0;
    font-size: 12px;
  }
  .portfolio .heading h3 {
    font-size: 19px;
    letter-spacing: 0.5px;
  }
  .portfolio .heading h4 {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .portfolio .card-deck .card .img-fluid {
    height: 200px;
  }
  .portfolio {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  .Subscribe .heading h3 {
    font-size: 24px;
  }
  .portfolio .lead {
    bottom: 40%;
  }
  .Subscribe .btn-info {
    font-size: 12px;
    letter-spacing: 0.6px;
    width: 110px;
    height: 50px;
  }
  .Subscribe input {
    width: 210px;
    height: 50px;
  }
  .Subscribe .main {
    padding: 20px 0;
  }
  footer .content {
    border-right: none;
  }
  footer img {
    width: 20%;
    padding-bottom: 20px;
  }
  footer .content p {
    padding-right: 0;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  footer .footer-copyright p {
    font-size: 12px;
    padding: 10px 0;
  }
  .banner .heading h1 {
    font-size: 32px;
  }
  .banner .heading h2 {
    font-size: 18px;
  }
  .banner {
    height: 350px;
    padding-bottom: 55px;
  }
  #about-us .image {
    height: 300px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  #about-us p {
    margin-bottom: 100px;
  }
  #about-us p {
    font-size: 13px;
  }
  #about-us h3 {
    padding-bottom: 30px;
  }
  #contact .py-5 {
    padding-top: 2rem !important;
    width: 100%;
  }
  #contact {
    padding-bottom: 70px;
  }
  .blog-page .blog-column1 {
    padding-bottom: 30px;
  }
  .blog-page {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .blog-page .img-thumbnail {
    height: 200px;
    margin-bottom: 20px;
  }
  .blog-page .text-block h4 {
    padding: 9px 0;
    font-size: 12px;
  }
  .blog-page .pages {
    padding-top: 60px;
    text-align: center;
  }
  .blog-page {
    padding-bottom: 80px;
  }
  .blog-page .image-one {
    padding-bottom: 0;
  }
  #blog-page .blog-heading1 h2 {
    font-size: 22px;
    padding-bottom: 10px;
  }
  #blog-page .blog-heading2 h6 {
    padding: 0;
    letter-spacing: 0;
  }
  #blog-page .heading1 {
    font-size: 24px;
    line-height: 30px;
  }
  #blog-page h4 {
    font-size: 12px;
    padding-top: 10px;
  }
  #blog-page .heading2 {
    font-size: 24px;
    letter-spacing: 0;
  }
  #blog-page .img-thumbnail {
    height: 200px;
  }
  #blog-page .text-block h4 {
    padding: 11px 3px;
  }
  #blog-page .blog-heading2 a {
    font-size: 13px;
  }
  .portfolio .box .img-fluid {
    height: 200px;
  }
  .services .inner-content {
    border: none;
    padding: 20px;
  }
  .services h2 {
    font-size: 24px;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .services p {
    font-size: 12px;
    line-height: 22px;
  }
  .services select {
    font-size: 12px;
    padding: 10px 5px;
    margin-bottom: 15px;
  }
  .portfolio .carousel-control-next {
    right: -78px;
  }
  .portfolio .carousel-control-prev {
    left: -78px;
  }
  .portfolio .overlay {
    height: 87.2%;
    width: 85.5%;
  }
  .portfolio .text {
    font-size: 12px;
  }
  .portfolio .overlay img {
    width: 50px;
  }
  #portfolio .overlay {
    height: 88%;
    width: 87.5%;
  }
}
@media screen and (max-width: 425px) {
  .navbar-toggler {
    padding: 1px 6px;
  }
  .navbar-toggler-icon {
    width: 20px;
    height: 25px;
  }
  .top-container .container {
    padding-left: 22px;
    padding-right: 22px;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .top-container .col1 h5 {
    font-size: 9px;
    letter-spacing: 1px;
  }
  #hero .carousel-item h3 {
    font-size: 12px;
    padding: 10px 20px;
  }
  #hero .carousel-item h1 {
    font-size: 18px;
    padding-bottom: 5px;
  }
  #hero .carousel-item h2 {
    font-size: 14px;
    padding-bottom: 15px;
    letter-spacing: 0px;
  }
  #hero .btn-primary {
    font-size: 12px;
    padding: 7px 10px;
    font-weight: 600;
  }
  #hero .carousel-item img {
    height: 570px;
  }
  #hero .carousel-indicators {
    bottom: 20px;
  }
  #hero .carousel-indicators li {
    width: 30px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .about .col1,
  .about .col2,
  .about .col3 {
    padding-bottom: 20px;
    text-align: center;
  }
  .about .inner-content {
    text-align: center;
  }
  .about .col3 {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .about .heading h4 {
    padding-bottom: 20px;
  }
  .blog-column1 {
    padding-bottom: 20px;
  }
  .blog .row:nth-child(2) {
    padding-bottom: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .Subscribe .heading h3 {
    text-align: center;
  }
  .portfolio .card-deck .card .img-fluid {
    width: 100%;
  }
  .Subscribe .btn-info {
    width: 100%;
  }
  .Subscribe input {
    width: 100%;
    text-align: center;
  }
  .Subscribe form {
    float: none;
  }
  .navbar-brand img {
    width: 50%;
  }
  .banner {
    height: 320px;
  }
  .banner .heading h1 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .banner .heading h2 {
    font-size: 14px;
    padding-bottom: 15px;
    letter-spacing: 1px;
  }
  #about-us .image {
    height: 200px;
  }
  #about-us p {
    font-size: 12px;
  }
  #about-us {
    padding-top: 30px;
  }
  #contact p {
    line-height: 24px;
  }
  #contact textarea.form-control {
    height: 150px;
  }
  #contact input {
    height: 42px;
  }
  #contact .form-group {
    margin-bottom: 0;
  }
  #contact .btn-primary {
    height: 46px;
    font-size: 12px;
    width: 135px;
  }
  #contact {
    padding-bottom: 10px;
  }
  .blog-page h2 {
    font-size: 22px;
  }
  .blog-page .pages .btn-primary {
    font-size: 12px;
    width: 132px;
    margin-right: 5px;
  }
  .blog-page {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  #blog-page .blog-heading2 a {
    font-size: 12px;
  }
  .about .row:nth-child(2) {
    margin: 0;
  }
  #blog-page .heading1 {
    font-size: 18px;
    line-height: 24px;
  }
  #blog-page figure img {
    height: 200px;
  }
  #blog-page h4 {
    text-align: center;
    padding-top: 0;
    padding-bottom: 10px;
  }
  #blog-page .social-links {
    text-align: center;
  }
  #blog-page p {
    font-size: 12px;
  }
  .portfolio .carousel-control-prev {
    left: 0;
  }
  .portfolio .carousel-control-next {
    right: 0;
  }
  .portfolio .heading h3 {
    font-size: 18px;
  }
  .portfolio .heading h4 {
    line-height: 18px;
  }
  .portfolio .main-content {
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio .box .img-fluid {
    height: 250px;
  }
  .portfolio .fa {
    padding: 6px 9px;
    background: #000000a3;
  }
  .portfolio .carousel-control-next,
  .carousel-control-prev {
    color: #fff;
  }
  #portfolio h4 {
    font-size: 12px;
    line-height: 24px;
  }
  .services .image {
    height: 200px;
  }
  .services h2 a {
    line-height: 30px;
    font-size: 14px;
    padding-left: 0;
  }
  #portfolio {
    padding-bottom: 50px;
  }
  #portfolio button {
    width: 130px;
    line-height: 30px;
  }
  #portfolio .load-more {
    padding-top: 20px;
  }
  .portfolio .overlay {
    height: 89.2%;
    width: 100%;
  }
  .portfolio .overlay img {
    width: 15%;
  }
  .services {
    padding: 50px 0;
  }
  .services .fa-2x {
    line-height: 36px;
    font-size: 24px;
  }
  .services .card {
    margin-bottom: 20px;
  }
  #portfolio .img-fluid {
    height: 250px;
  }
  #portfolio .overlay {
    height: 89%;
    width: 93%;
  }
  #portfolio .overlay img {
    width: 15%;
  }
  .Subscribe .main {
    padding: 20px 0;
    margin: 0;
  }
  #blog-page .social-links li {
    width: 84px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 375px) {
  .top-container .col2 .fa {
    width: 25px;
    height: 25px;
    padding: 7px 0;
  }
  #hero .carousel-item h1 {
    font-size: 16px;
  }
  #hero .carousel-item h2 {
    font-size: 12px;
    padding-bottom: 10px;
    letter-spacing: 0px;
  }
  #hero .carousel-item img {
    height: 520px;
  }
  footer .footer-copyright p {
    padding: 10px 5px;
    margin-bottom: 0;
  }
  #hero .carousel-caption {
    top: 77%;
  }
  #hero .carousel-item h3 {
    margin-bottom: 10px;
  }
  #hero .carousel-indicators {
    bottom: 10px;
  }
  #hero .btn-primary {
    padding: 5px 10px;
  }
  #hero .carousel-control-next,
  .carousel-control-prev {
    top: 25%;
  }
  .about {
    padding-top: 20px;
  }
  .portfolio .carousel-control-prev {
    left: 4px;
  }
  .portfolio .carousel-control-next {
    right: 4px;
  }
  .portfolio .overlay {
    height: 89.2%;
    width: 100%;
  }
  .services .fa-2x {
    line-height: 32px;
    font-size: 20px;
  }
  .services h2 a {
    line-height: 20px;
    font-size: 12px;
  }
  #portfolio .overlay {
    height: 89.2%;
    width: 92%;
  }
}
@media screen and (max-width: 320px) {
  .top-container .col2 .fa {
    width: 23px;
    height: 23px;
    padding: 7px 0;
    font-size: 11px;
  }
  #hero .carousel-item h3 {
    font-size: 11px;
    padding: 10px 10px;
  }
  #hero .carousel-item h5 {
    line-height: 15px;
    padding-bottom: 16px;
  }
  .banner .heading h1 {
    font-size: 17px;
  }
  .banner .heading h2 {
    font-size: 12px;
  }
  #about-us h3 {
    font-size: 22px;
  }
  #blog-page .break {
    display: inline;
  }
  #blog-page .social-links li {
    width: 86px;
    height: 28px;
    margin-right: 0px;
    padding: 0;
  }
  #blog-page .social-links li span {
    padding-left: 12px;
  }
  #blog-page .inner-contant {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .portfolio .carousel-control-prev {
    left: 8px;
  }
  .portfolio .carousel-control-next {
    right: 8px;
  }
  .Subscribe .heading h3 {
    font-size: 21px;
  }
  .services h2 a {
    font-size: 11px;
  }
  .portfolio .overlay {
    height: 89.2%;
    width: 91%;
  }
  .services .fa-2x {
    line-height: 32px;
    font-size: 16px;
  }
  .services .image {
    height: 150px;
    margin-bottom: 20px;
  }
  #portfolio h4 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  #portfolio .overlay {
    height: 89.2%;
    width: 91%;
  }
  .Subscribe .heading h3 {
    font-size: 18px;
  }
}
