#profile {
  padding: 20px 0px;
}

#profile .profile-brand {
  height: 400px;
}

#profile .row {
  justify-content: space-between;
}

#profile .profile-caption h1 {
  color: #261c6e;
  font-weight: 700;
}
#profile .profile-caption h1 span {
  font-weight: 700;
  background: linear-gradient(91deg, #261c6e -2.85%, #e1d200 84.92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#profile .profile-caption h4 {
  color: #261c6e;
  font-weight: 700;
}
#profile .profile-caption p {
  color: #261c6e;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  #profile .col-lg-4 {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  #profile .col-lg-4 {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  #profile .col-lg-4 {
    display: none;
  }
  #profile .container {
    text-align: center;
  }
}
