#services h2 {
  font-weight: 700;
  color: black;
}
#services h2 span {
  font-weight: 700;
  background: linear-gradient(91deg, #261c6e -2.85%, #e1d200 84.92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services p {
  font-weight: 700;
  color: black;
}

#services .bi {
  color: black;
}
