#services {
  padding: 20px 0px;
}
#services .head-services {
  text-align: center;
}
#services .services-img {
  width: 350px;
  height: auto;
}
#services .services-icon {
  width: 80px;
}
#services .head-services h4 {
  font-weight: 700;
  color: #261c6e;
}
#services .head-services h1 {
  font-weight: 700;
  color: #261c6e;
}
#services .head-services h1 span {
  font-weight: 700;
  background: linear-gradient(91deg, #e1d200 -2.85%, #261c6e 84.92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#services .head-services p span {
  font-weight: 700;
  color: #261c6e;
}
#services .head-services p {
  font-weight: 500;
  color: #261c6e;
}
#services h2 {
  font-weight: 700;
  color: #261c6e;
}
#services h2 span {
  font-weight: 700;
  background: linear-gradient(91deg, #261c6e -2.85%, #e1d200 84.92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#services p {
  font-weight: 600;
  color: #261c6e;
}
#services .bi {
  color: #261c6e;
}

@media screen and (max-width: 350px) {
  #services .head-services h2 {
    font-weight: 700;
    color: #261c6e;
    font-size: 16px;
  }
  #services p {
    font-weight: 600;
    color: #261c6e;
    font-size: 12px;
  }
  #services .col-2 {
    margin: 0;
    padding: 0;
    justify-content: start;
  }
  #services .services-icon {
    width: 70px;
  }
}
