.disable_small {
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-dark50);
}
.disable_normal {
  font-size: 1rem; /* 16px */
  font-weight: 600;
  line-height: 1;
  color: var(--color-dark50);
}
.disable_medium {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1;
  color: var(--color-dark50);
}
.disable_large {
  font-size: 3rem; /* 48px */
  font-weight: 600;
  line-height: 1;
  color: var(--color-dark50);
}
.disable_xlarge {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-dark50);
}
@media only screen and (max-width: 720px) {
  .flex_reverse {
    flex-direction: column-reverse;
  }
}

.index_rainbow-text {
  background: linear-gradient(
    92deg,
    #b2abfe -2.27%,
    #ff8290 37.74%,
    #f3c18f 65.44%,
    #a1fec8 96.22%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shadow_lrb {
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}
