.yl_footer-layout {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: auto;
  display: grid;
}
@media only screen and (max-width: 720px) {
  .yl_footer-layout {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: auto;
    display: grid;
  }
}
.yl_footer-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.yl_footer-wrap {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* content */
footer {
  margin-top: 1rem;
}
.yl_footer {
  width: 100%;
  padding: 0 1rem 0 1rem;
  background: linear-gradient(-90deg, rgba(200, 163, 255, 0.2) 0, transparent);
}
.yl_footer-head {
  height: auto;
  width: 100%;
  border-top: 1px solid var(--color-dark15);
  border-bottom: 1px solid var(--color-dark15);
  padding: 1rem 0 0 0;
}
.yl_footer-about p {
  font-size: small;
}
.yl_footer-logo-soc {
  display: block;
  margin: 0 auto;
}
.yl_footer-logo {
  margin: 0 auto;
}
.yl_footer-social {
  display: flex;
  margin: 0 auto;
}
@media only screen and (max-width: 720px) {
  .yl_footer-about {
    text-align: center;
  }
}
/* qlink  */
.yl_footer-qlinks {
  display: flex;
  justify-content: space-between;
}
.yl_footer-qlink-box {
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.yl_footer-qlink-menu {
  margin: 0 auto;
  text-align: center;
}
.yl_footer-qlink {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding-bottom: 7px;
}

.yl_footer-qlink a:hover {
  text-decoration: underline;
}
/* to top */
.yl_footer-totop {
  align-items: start;
  text-align: end;
}
.yl_footer-totop .yl_5sola-top-btn i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/* copyright */
.yl_footer-copyright-is-hidden {
  text-align: start;
  justify-content: start;
  padding-right: 2rem;
  font-size: small;
}
.yl_footer-copyright {
  display: none;
}
@media only screen and (max-width: 720px) {
  .yl_footer-copyright-is-hidden {
    display: none;
  }
  .yl_footer-copyright {
    text-align: center;
    display: block;
    justify-content: center;
    font-size: small;
  }
  .yl_footer-qlinks {
    display: flex;
    flex-direction: column;
  }
  .yl_footer-totop {
    justify-items: center;
    padding: 1rem;
  }
}
