/* {footer} */
.yl_footer-gridlayout {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .yl_footer-gridlayout {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}
/* {footer::design */
.yl_footer-gridbox {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.yl_footer-gridwrap {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  transition: background-color 1s;
  display: flex;
  position: relative;
  overflow: hidden;
}
.yl_footer-ls {
  text-align: center;
  margin: auto;
}
.yl_footer-social {
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  display: flex;
}
.yl_footer-qlink {
  padding-bottom: 7px;
}
.yl_footer-email a:hover {
  text-decoration: underline;
}
.yl_footer-qlink a:hover {
  text-decoration: underline;
}
.input-group {
  width: 100%;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding-bottom: 10px;
}
@supports (mix-blend-mode: darken) {
  .input-group {
    position: relative;
    mix-blend-mode: lighten;
  }
}
.input-group__input {
  margin-top: 10px;
  color: var(--color-dark);
  font-size: 0.875rem;
  line-height: 1;
  border-style: none;
  outline: none;
  height: calc(1em + 1.6em + 0.5em);
  width: 100%;
  padding: 0.2em 1em;
  border: 0.25em solid transparent;
  background: white;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_footer-sub {
  padding-top: 20px;
}
.yl_footer-boxes {
  padding: 20px 0px;
}
.yl_footer-copyright {
  text-align: center;
  justify-content: center;
  height: 25px;
}
.yl_footer-copyright-links {
  gap: 20px;
  text-transform: uppercase;
  display: flex;
  padding: 20px;
  justify-content: center;
}
.box-box {
  display: flex;
  gap: 70px;
}
.input-group__button .button_warning {
  grid-column-gap: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-warning);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  max-width: 20em;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
