.scrolling-text-layout {
  width: 100%;
  width: 100%;
  border-top: 1px solid var(--color-dark15);
}
.scrolling-text-background {
  height: -moz-fit-content;
  height: fit-content;
  color: var(--custom-text-color, #7958a5);
  font-size: 220px;
  line-height: 1em;
  z-index: -1;
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-top: 60px;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #000 35%,
    #000 65%,
    transparent
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 35%,
    #000 65%,
    transparent
  );
}
.scrolling-text-background.scrolling-text-alternate {
  bottom: auto;
  top: 0;
  padding-top: 0;
  padding-bottom: 60px;
}
.scrolling-text-background.scrolling-text-alternate p {
  text-align: start;
  -webkit-mask-image: linear-gradient(180deg, #000 30%, transparent);
  mask-image: linear-gradient(180deg, #000 30%, transparent);
}
:root {
  --custom-fade-color: #d4d2ff;
}
.scrolling-text-background.scrolling-text-alternate:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--custom-fade-color, #ffe3cd);
  -webkit-mask-image: linear-gradient(180deg, #000, transparent);
  mask-image: linear-gradient(180deg, #000, transparent);
}
.scrolling-text-background.scrolling-text-blue {
  --custom-fade-color: #d4d2ff;
  color: #7958a5;
}

.scrolling-text-background p {
  opacity: 0.15;
  letter-spacing: 12px;
  -webkit-mask-image: linear-gradient(0deg, #000 30%, transparent);
  mask-image: linear-gradient(0deg, #000 30%, transparent);
}
.scrolling-text-background:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--custom-fade-color, #e5d2ff);
  -webkit-mask-image: linear-gradient(0deg, #000, transparent);
  mask-image: linear-gradient(0deg, #000, transparent);
}
.infinite-scroll_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.infinite-scroll_marquee {
  display: flex;
  flex-wrap: nowrap;
  width: -moz-max-content;
  width: max-content;
  animation: infinite-scroll_marquee 80s linear infinite;
  --animation-speed: var(--override-speed, 30s);
  -webkit-animation: infinite-scroll_marquee 80s linear infinite;
}

.infinite-scroll_marquee.infinite-scroll_reverse {
  animation-direction: reverse;
}

@keyframes infinite-scroll_marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.infinite-scroll_marquee.infinite-scroll_reverse {
  animation-direction: reverse;
}

.scrolling-text-background {
  height: -moz-fit-content;
  height: fit-content;
  color: var(--custom-text-color, #7958a5);
  font-size: 220px;
  line-height: 1em;
  z-index: -1;
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-top: 60px;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #000 35%,
    #000 65%,
    transparent
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 35%,
    #000 65%,
    transparent
  );
}
.scrolling-text {
  position: relative;
  padding-bottom: 1rem;
}
.scrolling-text-background.scrolling-text-alternate {
  bottom: auto;
  top: 0;
  padding-top: 0;
  padding-bottom: 60px;
}
.scrolling-text-background.scrolling-text-alternate p {
  font-size: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: start;
  -webkit-mask-image: linear-gradient(180deg, #000 30%, transparent);
  mask-image: linear-gradient(180deg, #000 30%, transparent);
}
.scrolling-text-background.scrolling-text-alternate:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--custom-fade-color, #ffe3cd);
  -webkit-mask-image: linear-gradient(180deg, #000, transparent);
  mask-image: linear-gradient(180deg, #000, transparent);
}
.scrolling-text-background.scrolling-text-blue {
  --custom-fade-color: #d4d2ff;
  color: #7958a5;
}

.scrolling-text-background p {
  opacity: 0.15;
  letter-spacing: 12px;
  -webkit-mask-image: linear-gradient(0deg, #000 30%, transparent);
  mask-image: linear-gradient(0deg, #000 30%, transparent);
}
.scrolling-text-background:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--custom-fade-color, #e5d2ff);
  -webkit-mask-image: linear-gradient(0deg, #000, transparent);
  mask-image: linear-gradient(0deg, #000, transparent);
}
