@media only screen and (max-width: 768) {
  /*!padding Globar*/
  .padding-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ntt-header {
    padding: 1rem 1rem 0.1rem 1rem;
  }
}

@media only screen and (max-width: 991px) {
  /*!padding Globar*/
  .padding-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ntt-header {
    padding: 1rem 1rem 0.1rem 1rem;
  }
}
/* ROOT */
:root {
  --jagger: #380a53;
  --jagger-56: #380a538f;
  --milk: #fff4e0;
  --milk-2: #fff4e005;
  --milk-7: #fff4e012;
  --milk-40: #fff4e066;
  --milk-64: #fff4e0a3;
  --folly: #f36;
  --jonquii: #fc0;
  --jonquii-darker: rgb(255, 145, 0);
  --aquamarine: #0fb;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Inter Regular", sans-serif;
}
body {
  background: var(--milk);
  font-family: "Inter Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
a {
  cursor: pointer;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  color: #fff4e0;
  background: #ff3366;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter Regular", sans-serif;
  font-size: 5.5rem;
  font-weight: 700;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter Regular", sans-serif;
  font-size: 4rem;
  font-weight: 700;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter Regular", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter Regular", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
p {
  margin-bottom: 0;
  font-size: 1.125rem;
}

.padding-global {
  padding-left: 3rem;
  padding-right: 3rem;
}
