/* {nav} */
.yl_nav-custom {
  display: flex;
  flex-direction: row;
}
.yl_nav {
  z-index: 1010;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  align-items: center;
  margin: auto;
  display: flex;
  background-color: var(--color-light);

  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 2rem 0.4rem 2rem;
  box-shadow: 0px 0px 0px 0px var(--color-dark25);
}
.yl_nav-brand .yl_logo-text {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}
.yl_nav-brand {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.yl_nav-menu-itemlist {
  display: flex;
  gap: 20px;
  align-items: center;
}
.yl-navlink {
  color: var(--color-dark);
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.yl_nav-menu-add {
  padding-left: 10px;
}
.yl-dropdown {
  position: relative;
  display: inline-block;
}

.yl-dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px var(--color-dark25);
  padding: 0.7rem;
  z-index: 1;
  text-align: start;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl-dropdown-content .drop-link {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 5px;
}
.yl-dropdown-content .yl_logo-dropdown {
  position: absolute;
  z-index: -1;
  right: 0;
}
.yl-dropdown:hover .yl-dropdown-content {
  display: block;
  z-index: 1;

  background-image: url(/public/favicon/gmit-drop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: start;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.yl-dropdown-content a:hover {
  text-decoration: underline;
}
.three {
  display: none;
}
.mobile-menu {
  display: none;
}
/* {mobile} */
@media only screen and (max-width: 720px) {
  .yl_nav-menu {
    display: none;
  }
  /* {hamburger} */
  .three {
    list-style: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 0.7rem;
    text-align: center;
    border: transparent;
  }
  .hamburger .line {
    width: 40px;
    height: 2px;
    background-color: var(--color-dark);
    margin-left: 10px;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .hamburger .line.line-scroll {
    background-color: transparent;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  #hamburger-1.is-active .line:nth-child(1) {
    transform: translateY(5px) rotate(25deg);
    -webkit-transform: translateY(5px) rotate(25deg);
    -ms-transform: translateY(5px) rotate(25deg);
    -o-transform: translateY(5px) rotate(25deg);
    -moz-transform: translateY(5px) rotate(25deg);
  }
  #hamburger-1.is-active .line:nth-child(2) {
    transform: translateY(-5px) rotate(-25deg);
    -webkit-transform: translateY(-5px) rotate(-25deg);
    -ms-transform: translateY(-5px) rotate(-25deg);
    -o-transform: translateY(-5px) rotate(-25deg);
    -moz-transform: translateY(-5px) rotate(-25deg);
  }
  /* {mobile::menu} */
  .mobile-menu {
    display: none;

    transition: all 0.8s ease-in-out !important;
    -webkit-transition: all 0.8s ease-in-out !important;
    -moz-transition: all 0.8s ease-in-out !important;
    -ms-transition: all 0.8s ease-in-out !important;
    -o-transition: all 0.8s ease-in-out !important;
  }
  .mobile-menu-show {
    width: auto;
    justify-content: center;
    display: block;
    position: fixed;
    top: 70px;
    left: 2rem;
    right: 2rem;
    background-color: var(--color-light);
    height: auto;
    z-index: 1010;
    padding: 0.7rem;
    box-shadow: 0px 0px 7px 0px var(--color-dark25);
    border-radius: var(--radius-small);
    -webkit-border-radius: var(--radius-small);
    -moz-border-radius: var(--radius-small);
    -ms-border-radius: var(--radius-small);
    -o-border-radius: var(--radius-small);
  }
  .mobile-menu-show .ntt-mobile-menulist a {
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mobile-menu-show .ntt-mobile-menulist p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mobile-menu-show .ntt-mobile-menulist {
    display: block;
    text-align: center;
    padding: 10px;
  }
}
