:root {
  /* {Color::style} */

  --color-dark: rgba(0, 0, 0, 1);
  --color-dark50: rgba(0, 0, 0, 0.5);
  --color-dark25: rgba(0, 0, 0, 0.25);
  --color-dark15: rgba(0, 0, 0, 0.15);

  --color-light: rgba(255, 255, 255, 1);
  --color-light75: rgba(255, 255, 255, 0.75);
  --color-light50: rgba(255, 255, 255, 0.5);
  --color-light25: rgba(255, 255, 255, 0.25);

  --color-danger: rgba(255, 51, 102, 1);
  --color-danger50: rgba(255, 51, 102, 0.5);
  --color-danger25: rgba(255, 51, 102, 0.25);

  --color-warning: rgba(255, 204, 0, 1);
  --color-warning50: rgba(255, 204, 0, 0.5);
  --color-warning25: rgba(255, 204, 0, 0.25);

  --color-darker: #021728;

  --color-ocean: rgba(38, 28, 110, 1);
  --color-ocean50: rgba(38, 28, 110, 0.5);
  --color-ocean25: rgba(38, 28, 110, 0.25);
  --color-ocean15: rgba(38, 28, 110, 0.15);
  --color-ocean10: rgba(38, 28, 110, 0.1);

  /* {radius::style} */
  --radius-small: 5px;
  --radius-medium: 15px;
  --radius-large: 25px;
  /* tansition */
  --height-trans3: height 0.3s ease-in;
  --height-trans7: height 0.7s ease-in;
  --heightmx-trans3: max-height 0.3s ease-in;
  --heightmx-trans7: max-height 0.7s ease-in;
  --all-trans7: all 0.7s ease-in;
  --all-trans3: all 0.3s ease-in;
  /* font::family */
  --font-family: "Montserrat", serif;
  --font-size-title: 2rem;
  --font-size-subtitle: 1.5rem;
  --font-size-desc: 1.125rem;
  /*  box::shadow*/
  --box-shadow: 0 0 0.15rem 0 rgba(38, 28, 110, 0.25);
  /*  blur::effect*/
  --blur35: blur(35px);
}
::selection {
  background-color: var(--color-dark);
  color: var(--color-light);
}
/* custom scrollbar */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-ocean);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-ocean);
}
*,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
  background: var(--color-light);
  color: var(--color-dark);
  font-size: var(--font-size-desc);
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
html {
  height: 100%;
}
img {
  border: 0;
}
ol,
ul,
li {
  display: block;
}
a,
ol,
ul,
li,
button {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-dark);
}
h1 {
  letter-spacing: -2px;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-title);
  font-weight: 500;
  line-height: 1;
  color: var(--color-dark);
}
h2 {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  line-height: 1;
  color: var(--color-dark);
}
h3 {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  line-height: 1;
  color: var(--color-dark);
}
h4 {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  line-height: 1;
  color: var(--color-dark);
}
h5 {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  line-height: 1;
  color: var(--color-dark);
}
h6 {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  line-height: 1;
  color: var(--color-dark);
}
p {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-desc);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-dark);
}
section {
  width: 100%;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* {custom::class}  */
.border_box:hover {
  border: 1px solid var(--color-dark25);
  box-shadow: var(--box-shadow);
}
.border_box {
  border: 1px solid var(--color-dark15);
  transition: var(--all-trans3);
  -webkit-transition: var(--all-trans3);
  -moz-transition: var(--all-trans3);
  -ms-transition: var(--all-trans3);
  -o-transition: var(--all-trans3);
}
.fade_text {
  color: var(--color-dark50);
}
.line_devider {
  margin: 5rem 1rem 2rem 1rem;
  z-index: 1;
  background-image: linear-gradient(
    270deg,
    var(--color-light),
    var(--color-dark) 50%,
    var(--color-light)
  );
  opacity: 0.24;
  width: 100%;
  height: 1px;
  position: relative;
}
/* {global::padding} */
.yl_page {
  padding: 0;
  margin: 0;
}
.yl_padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* {scroll::spy} */
section {
  margin-top: 80px;
}
/* {button} */
.button_danger {
  grid-column-gap: 0.5rem;
  color: var(--color-light);
  background-color: var(--color-danger);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
/* button::warning */
.button_warning {
  grid-column-gap: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-warning);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
/* button::dark */
.button_secondary {
  grid-column-gap: 0.5rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
/* button::light */
.button_light {
  grid-column-gap: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-light);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
/* button::primary */
.button_primary {
  grid-column-gap: 0.5rem;
  color: var(--color-light);
  background-color: var(--color-ocean);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}

/* {nav} */
.yl_nav-custom {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 1010;
  width: auto;
  justify-content: space-between;
  background-color: var(--color-light50);
  backdrop-filter: var(--blur35);
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_navlayout {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 7px);
  grid-template-rows: auto;
  gap: 10px;
  padding: 10px;
  align-items: center;
}
@media only screen and (max-width: 720px) {
  .yl_navlayout {
    grid-auto-columns: calc((100% / 2) - 7px);
  }
}
.yl_nav-brand {
  justify-content: start;
}
.yl_nav-logo {
  display: flex;
  align-items: center;
  text-align: start;
}
.yl_nav-brand-text {
  line-height: 1;
  padding-left: 10px;
}
.yl_nav-right {
  align-items: center;
}
.yl_nav-menu,
.yl_nav-right,
.yl_nav-brand {
  width: 100%;
  align-items: center;
}
.yl_navmenulink {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}
/* megamenu content */
#megamenu.is-open {
  display: block;
  opacity: 1;
  z-index: 1000;
  height: auto;
  max-height: 500px;
  transition: var(--heightmx-trans7);
  -webkit-transition: var(--heightmx-trans7);
  -moz-transition: var(--heightmx-trans7);
  -ms-transition: var(--heightmx-trans7);
  -o-transition: var(--heightmx-trans7);
}
.yl_nav-megamenu {
  opacity: 0;
  display: none;
  height: 0;
  transition: var(--heightmx-trans7);
  overflow: hidden;
  -webkit-transition: var(--heightmx-trans7);
  -moz-transition: var(--heightmx-trans7);
  -ms-transition: var(--heightmx-trans7);
  -o-transition: var(--heightmx-trans7);
}
.yl_nav-megamenu-content {
  display: flex;
  width: 100%;
  padding: 10px;
}
.yl_nav-megamenu-content .box_1,
.yl_nav-megamenu-content .box_2,
.yl_nav-megamenu-content .box_3,
.yl_nav-megamenu-content .box_4 {
  display: block;
  width: 100%;
}
.megamenu-list {
  display: block;
}
.three {
  display: none;
}
.mobile-menu {
  display: none;
}
/* {mobile} */
@media only screen and (max-width: 720px) {
  .yl_nav-menu {
    display: none;
  }
  /* {hamburger} */
  .three {
    list-style: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 0.7rem;
    text-align: center;
    border: transparent;
  }
  .hamburger .line {
    width: 40px;
    height: 2px;
    background-color: var(--color-dark);
    margin-left: 10px;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .hamburger .line.line-scroll {
    background-color: transparent;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  #hamburger-1.is-active .line:nth-child(1) {
    transform: translateY(5px) rotate(25deg);
    -webkit-transform: translateY(5px) rotate(25deg);
    -ms-transform: translateY(5px) rotate(25deg);
    -o-transform: translateY(5px) rotate(25deg);
    -moz-transform: translateY(5px) rotate(25deg);
  }
  #hamburger-1.is-active .line:nth-child(2) {
    transform: translateY(-5px) rotate(-25deg);
    -webkit-transform: translateY(-5px) rotate(-25deg);
    -ms-transform: translateY(-5px) rotate(-25deg);
    -o-transform: translateY(-5px) rotate(-25deg);
    -moz-transform: translateY(-5px) rotate(-25deg);
  }
  /* {mobile::menu} */
  .mobile-menu {
    display: none;
    transition: all 0.8s ease-in-out !important;
    -webkit-transition: all 0.8s ease-in-out !important;
    -moz-transition: all 0.8s ease-in-out !important;
    -ms-transition: all 0.8s ease-in-out !important;
    -o-transition: all 0.8s ease-in-out !important;
  }
  .yl_nav_right .button_primary {
    display: none;
  }
  .mobile-menu-show {
    width: auto;
    justify-content: center;
    display: block;

    height: auto;
    padding: 0.7rem;
    border-radius: var(--radius-small);
    -webkit-border-radius: var(--radius-small);
    -moz-border-radius: var(--radius-small);
    -ms-border-radius: var(--radius-small);
    -o-border-radius: var(--radius-small);
  }
  .mobile-menu-show .yl_mobile-menulist a {
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mobile-menu-show .yl_mobile-menulist p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mobile-menu-show .yl_mobile-menulist {
    display: block;
    text-align: center;
    padding: 10px;
  }
}

.yl_blog-top,
.yl_blog-bottom {
  width: 100%;
  height: auto;
  padding: 1rem;
}
.yl_blog-top {
  border-top-left-radius: var(--radius-small);
  border-top-right-radius: var(--radius-small);
  border: 1px solid var(--color-dark25);
}
.yl_blog-bottom {
  border-bottom-left-radius: var(--radius-small);
  border-bottom-right-radius: var(--radius-small);
  border-bottom: 1px solid var(--color-dark25);
  border-left: 1px solid var(--color-dark25);
  border-right: 1px solid var(--color-dark25);
}
/* custom class */
.yl_bottom-head-r-content {
  text-align: end;
}

.yl_card {
  margin: 10px;
  overflow: hidden;
  width: auto;
  height: auto;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.card-header {
  display: flex;
  flex-direction: column;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.card-header .yl_gradient {
  background-image: linear-gradient(to top, #fff4e0, #fff4e05b, #d5cadb00);
  width: 100%;
  height: 75%;
  z-index: 44;
  position: absolute;
  inset: auto 111% 111%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  z-index: 46;
  background-color: var(--color-light);
}

.line-devid-card {
  background: var(--color-dark25);
  margin: 10px 0;
  height: 1.5px;
  width: 100%;
}
.yl_card-body-date {
  height: 20px;
  color: var(--color-dark50);
  text-transform: uppercase;
  width: 100%;
}
.card-btn-head {
  height: 20px;
  align-items: center;
  text-align: end;
}
.yl_card-btn {
  height: 40px;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.yl_cta {
  margin: 3rem;
}

/* multimedia */
.yl_media-top-content {
  position: relative;
  height: 100%;
  padding: 1rem;
  width: auto;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_media-top {
  height: 390px;
  width: 100%;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}

.yl_media-bottom {
  width: 100%;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_media-bottom iframe {
  width: 100%;
  height: 390px;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}

.yl_cta-box {
  width: 250px;
  text-align: center;
  align-items: center;
  border: 1px solid var(--color-dark25);
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_cta-content {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}

.yl_about-bottom {
  margin: 20px 0;
  width: 100%;
}
.yl_about-bottom-content {
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  display: flex;
  margin: auto;
  width: 100%;
}
.yl_church-head {
  height: 300px;
  border: 1px solid var(--color-dark25);
  width: 200px;
  padding: 10px;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.yl_church-head img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
/* berita */
.card-btn-head {
  height: 20px;
  align-items: center;
  text-align: end;
}

.yl_card {
  overflow: hidden;
  width: auto;
  height: 580px;
  justify-content: space-between;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
  padding: 0;
  margin: 0;
}
.yl_card-header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.yl_card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.yl_card-header .yl_gradient {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 95),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.5),
    rgba(2255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
  width: 100%;
  height: 25%;
  position: absolute;
  inset: auto 0% 0%;
}
.yl_card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 0px 20px 10px 20px;
  height: 275px;
}

.yl_card-footer p {
  border-top: 1px solid var(--color-dark25);
  border-bottom: 1px solid var(--color-dark25);
  margin-bottom: 10px;
  padding: 10px 0;
}
.yl_card-footer {
  padding: 10px 20px 0px 20px;
}

.yl_card-btn:hover .fa {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}
.yl_card-btn {
  height: 20px;
  width: 100%;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
  transition: var(--all-trans7);
  -webkit-transition: var(--all-trans7);
  -moz-transition: var(--all-trans7);
  -ms-transition: var(--all-trans7);
  -o-transition: var(--all-trans7);
}
/* yl_5sola slider */

.yl_5sola-bottom {
  width: 100%;
}
.yl_5sola-top {
  display: flex;
  justify-content: space-between;
}
.yl_5sola-wrapper {
  margin-top: 30px;
  max-width: 1600px;
  width: 100%;
  position: relative;
}
.yl_5sola-top-btn {
  display: flex;
}
.yl_5sola-top-btn .fa:hover {
  border: 2px solid var(--color-dark50);
  color: var(--color-dark50);
}
.yl_5sola-top-btn .fa {
  height: 40px;
  width: 40px;
  border: 2px solid var(--color-dark25);
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--all-trans3);
  -webkit-transition: var(--all-trans3);
  -moz-transition: var(--all-trans3);
  -ms-transition: var(--all-trans3);
  -o-transition: var(--all-trans3);
}
.yl_5sola-devide-btn {
  width: 10px;
  padding: 10px;
  height: 10px;
}
.yl_5sola-wrapper i:first-child {
  left: -22px;
}
.yl_5sola-wrapper i:last-child {
  right: -22px;
}
.yl_5sola-wrapper .yl_5sola-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  gap: 15px;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.yl_5sola-carousel::-webkit-scrollbar {
  display: none;
}

.yl_5sola-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.yl_5sola-carousel.no-transition {
  scroll-behavior: auto;
}
.yl_5sola-carousel.dragging .yl_5sola-card {
  cursor: grab;
  user-select: none;
}

@media screen and (max-width: 1030px) {
  .yl_5sola-wrapper .yl_5sola-carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}
@media screen and (max-width: 900px) {
  .yl_5sola-wrapper .yl_5sola-carousel {
    grid-auto-columns: calc((100% / 2) - 45px);
  }
}

@media screen and (max-width: 600px) {
  .yl_5sola-wrapper .yl_5sola-carousel {
    grid-auto-columns: 100%;
  }
}
.yl_5sola-carousel {
  background-color: transparent;
  background: transparent;
  align-items: center;
}
.yl_5sola-carousel .yl_5sola-card {
  width: 280px;
  height: 280px;
  list-style: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}

.card_5sola {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 270px;
  margin: -150px;
  float: left;
}

.content_5sola {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 10px;
  box-shadow: 0 0 0.25rem 0 rgba(38, 28, 110, 0.25);
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}

.card_5sola:hover .content_5sola {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front_5sola img {
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}

.front_5sola,
.back_5sola {
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  background-image: radial-gradient(
    var(--color-ocean10),
    var(--color-light50),
    var(--color-light)
  );
  text-align: center;
  backface-visibility: hidden;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.back_5sola {
  height: 100%;
  width: 100%;
  background: var(--color-light);
  color: var(--color-darker);
  transform: rotateY(180deg);
  padding: 0.875rem;
}

.back_5sola p {
  margin-top: 20px;
  font-size: 12px;
  color: var(--color-darker);
}

/* whatsapp */
.yl_wa-floating {
  height: 100%;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 999;
}
.yl_wa-buttton {
  align-items: center;
  background-color: rgba(38, 28, 110, 0.8);
  border-radius: 50%;
  bottom: 2rem;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 2rem;
  width: 50px;
}
.yl_wa-buttton:after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: yl_wa-styles-pulse;
  animation-name: yl_wa-styles-pulse;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: inherit;
  border-radius: 50%;
  content: "";
  height: 60px;
  opacity: 0;
  position: absolute;
  width: 60px;
}
.yl_wa-buttton svg {
  fill: rgba(225, 225, 225, 1);
  height: 50px;
  width: 50px;
}
@-webkit-keyframes yl_wa-styles-pulse {
  0% {
    box-shadow: 0 0 0 0 #021728;
    opacity: 1;
  }
  to {
    box-shadow: 0 0 0 15px #021728;
    opacity: 0;
  }
}
@keyframes yl_wa-styles-pulse {
  0% {
    box-shadow: 0 0 0 0 #021728;
    opacity: 1;
  }
  to {
    box-shadow: 0 0 0 15px #021728;
    opacity: 0;
  }
}
@-webkit-keyframes yl_wa-styles-bounce-in {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
  }
  50% {
    transform: scale(1.03);
    transform-origin: bottom right;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
  }
}
@keyframes yl_wa-styles-bounce-in {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
  }
  50% {
    transform: scale(1.03);
    transform-origin: bottom right;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
  }
}
@-webkit-keyframes yl_wa-style-bounce-out {
  0% {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
  }
  to {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
  }
}
@keyframes yl_wa-style-bounce-out {
  0% {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
  }
  to {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
  }
}
