/* root % system */
:root {
  --jagger: #380a53;
  --jagger-rgb: rgb(56, 10, 83);
  --jagger-rgba: rgba(56, 10, 83, 0.8);
  --jagger-56: #380a538f;
  --jagger-70: #380a53e0;
  --milk: #fff4e0;
  --milk-2: #fff4e005;
  --milk-7: #fff4e012;
  --milk-40: #fff4e066;
  --milk-64: #fff4e0a3;
  --hulk: #c7c6c3;
  --folly: #f36;
  --jonquii: #fc0;
  --jonquii-darker: rgb(255, 145, 0);
  --aquamarine: #0fb;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  background: var(--milk);
  font-family: "Montserrat", sans-serif;
  /* height: 5000px; */
}
a {
  cursor: pointer;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* !scrollspy */
#services,
#profile,
#teams,
#project,
#footer {
  padding-top: 90px;
}

/* border item and hover */
/* root % system */
/* header and nav*/
/* nav*/
.ntt-custom-nav {
  padding: 1rem 2rem;
  z-index: 1010;
  display: flex;
  position: fixed;
  width: 100%;
  margin: 0;
  right: 0;
  align-items: center;
}
.ntt-custom-nav .container-fluid:hover {
  border: 1px solid rgba(245, 234, 234, 0.562);
}
.ntt-custom-nav .container-fluid {
  width: 100%;
  margin: 0;
  border: 1px solid #ccbaba7e;
  background-color: var(--milk-40);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 0.75rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.ntt-custom-nav {
  position: fixed;
  width: 100%;
}
.ntt-custom-nav .nav-ntt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ntt-custom-nav .ntt-brand {
  display: block;
  background: transparent;
}
.ntt-custom-nav .ntt-brand img {
  width: 90px;
}
.ntt-custom-nav .ntt-navbar-nav {
  display: flex;
  justify-content: end;
  flex-direction: column;
  background: transparent;
}
.ntt-custom-nav .ntt-nav-link {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  color: var(--jagger);
  padding: 0rem 0.7rem;
  background: transparent;
}
.ntt-custom-nav .ntt-nav-btn {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  display: none;
  color: var(--jagger);
  background: transparent;
}
/*nav menu*/
.mob-menu {
  display: none;
  transition-behavior: allow-discrete;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/*nav*/
@media only screen and (max-width: 768px) {
  .ntt-nav-menu {
    display: none;
  }
  .ntt-custom-nav .ntt-nav-btn {
    display: flex;
  }
  .mob-menu.btn-mob-cont {
    display: none;
  }
  .mob-menu-show .mob-menu-Link {
    display: block;
  }
  .mob-menu-show {
    display: block;
    text-transform: uppercase;
    text-align: center;
    block-size: auto;
    block-size: calc(auto);
  }
  .mob-menu-show .mob-menu-Link {
    padding: 1rem 0.7rem;
    font-size: 10px;
    font-weight: 500;
    color: var(--jagger);
  }
  /* hamburger */
  .three {
    list-style: none;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--jagger);
    padding-left: 0.7rem;
    text-align: center;
    border: transparent;
  }
  .hamburger .line {
    width: 20px;
    height: 2px;
    background-color: var(--jagger);
    margin-left: 10px;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .hamburger .line.line-2 {
    width: 20px;
  }
  .hamburger .line.line-scroll {
    background-color: transparent;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  #hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
  }
  #hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }
  #hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  /* hamburger */
}
/* hero */
.ntt-home {
  width: 100%;
  height: 700px;
  text-align: center;
}
/*  
[{"id":"a-44-n-3","actionTypeId":"TRANSFORM_MOVE","config":{"delay":0,"easing":"ease","duration":1000,"target": */
/* home content */
.blur {
  opacity: 1;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.ntt-home .content-home {
  text-align: center;
  justify-content: center;
  padding-top: 9rem;
}
.ntt-home .home-title h1 span:hover {
  color: transparent;
  -webkit-text-stroke-color: var(--jagger);
  -webkit-text-stroke-width: 1px;
}
.ntt-home .home-title h1 span {
  color: transparent;
  -webkit-text-stroke-color: var(--jagger-56);
  -webkit-text-stroke-width: 1px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.ntt-home .home-title h1 {
  font-size: 7rem;
  color: var(--jagger);
  line-height: 0.6;
  font-weight: 900;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ntt-home .content-home .home-subtitle {
  color: var(--jagger);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 1rem;
}
/* home button  */
.ntt-home .content-home .home-btn {
  padding-top: 2rem;
  text-align: center;
}
.ntt-home .btn-title:hover {
  border: 1px solid rgba(143, 132, 132, 0.801);
  box-shadow: var(--jagger);
}
.ntt-home .btn-title {
  background-color: #fff4e012;
  backdrop-filter: blur(15px);
  padding: 0.6rem 0.2rem 0.6rem 0.8rem;
  border: 1px solid rgba(114, 101, 101, 0.301);
  margin-left: 0;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  color: var(--jagger);
  font-weight: 500;
  font-size: 12px !important;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}
.ntt-home .btn-title .fa {
  padding: 0rem 0.5rem;
  font-size: 11px;
  color: var(--jagger);
  background-color: var(--jonquii);
  padding: 0.6rem 0.6rem 0.5rem 0.6rem;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}
/* {mouse} */

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 35px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid var(--jagger);
  top: 0px;
}
.wheel {
  height: 7px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: var(--jagger);
  position: relative;
  height: 7px;
  width: 4px;
  border: 2px solid var(--jagger);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.wheel {
  animation: mouse-wheel 1s linear infinite;
  -webkit-animation: mouse-wheel 1s linear infinite;
  -moz-animation: mouse-wheel 1s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 4px;
  }
  100% {
    top: 5px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 4px;
  }
  100% {
    top: 5px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 4px;
  }
  100% {
    top: 5px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* {mouse} */
@media only screen and (max-width: 768) {
  /* {home} */
  .ntt-home .home-title h1 span {
    font-size: 2rem;
  }
  .ntt-home .home-title h1 {
    font-size: 2rem;
  }
  .ntt-home .home-title h2 {
    font-size: 2rem;
  }
  .ntt-home .home-title h2 span {
    font-size: 2rem;
  }
  .ntt-home .content-home .home-subtitle h4 {
    font-size: 0.7rem;
  }
  .ntt-home .content-home .home-btn .fa {
    font-size: 11px;
  }
  .ntt-home .content-home .home-btn .btn-subtitle {
    font-size: 11px;
  }
  .ntt-home .content-home .btn-title {
    font-size: 14px;
  }
  /* {home} */
}
@media only screen and (max-width: 991px) {
  .ntt-header {
    padding-right: 1rem;
  }
  /* {home} */
  .ntt-home .home-title h1 span {
    font-size: 3rem;
  }
  .ntt-home .home-title h1 {
    font-size: 3rem;
  }
  .ntt-home .home-title h2 {
    font-size: 3rem;
  }
  .ntt-home .home-title h2 span {
    font-size: 3rem;
  }
  .ntt-home .content-home .home-subtitle h4 {
    font-size: 0.7rem;
  }
  .ntt-home .content-home .home-btn .fa {
    font-size: 10px;
  }
  .ntt-home .content-home .home-btn .btn-subtitle {
    font-size: 10px;
  }
  .ntt-home .content-home .btn-title {
    font-size: 12px;
  }
  .ntt-home .btn-title {
    padding: 0.6rem 0.2rem 0.6rem 0.8rem;
    font-size: 9px;
  }
  .ntt-home .btn-title .fa {
    padding: 0.6rem 0.6rem 0.5rem 0.6rem;
  }
  /* {home} */
}
@media only screen and (max-width: 479px) {
  /* {nav} */
  .ntt-nav {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ntt-nav-brand {
    align-items: center;
    background-color: var(--jagger);
    padding: 0.5rem;
    font-size: 11px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
  .ntt-nav-btn {
    z-index: 2;
    font-size: 11px;
    align-items: center;
    background-color: var(--jagger);
    padding: 0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
  /* {nav} */
  /* {home} */
  .ntt-home .home-title h1 span {
    font-size: 2.8rem;
  }
  .ntt-home .home-title h1 {
    font-size: 2.8rem;
  }
  .ntt-home .home-title h2 {
    font-size: 2.8rem;
  }
  .ntt-home .home-title h2 span {
    font-size: 2.8rem;
  }
  .ntt-home .content-home .home-subtitle h4 {
    font-size: 0.7rem;
    padding: 0.1rem 1rem;
  }
  .ntt-home .content-home .home-btn .fa {
    font-size: 10px;
  }
  .ntt-home .content-home .home-btn .btn-subtitle {
    font-size: 9px;
  }
  .ntt-home .content-home .btn-title {
    font-size: 9px;
  }
  .ntt-home .btn-title {
    padding: 0.6rem 0.2rem 0.6rem 0.8rem;
    font-size: 9px;
  }
  .ntt-home .btn-title .fa {
    padding: 0.6rem 0.6rem 0.5rem 0.6rem;
  }
  /* {home} */
}
/* services */

@media screen and (min-width: 720px) {
}
.services-item {
  margin-top: 3rem;
}
.services-item .ntt-services {
  padding: 0rem 1rem;
}
.services-item .services-ntt {
  row-gap: 1rem;
}
.services-item .telcoinfra:hover,
.services-item .itservices:hover {
  border: 1px solid rgba(143, 132, 132, 0.63);
  box-shadow: 2px var(--hulk);
  color: var(--jagger);
}
.services-item .telcoinfra,
.services-item .itservices {
  border: 1px solid #947b7b2a;
  box-shadow: 1px var(--hulk);
  text-align: center;
  height: 550px;
  color: var(--jagger-64);
  border-radius: 1rem;
  background-color: var(--milk);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding-bottom: 1rem;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
}

.bg-infra {
  background: linear-gradient(
      to bottom,
      var(--milk-2) 0%,
      var(--milk-40) 50%,
      var(--milk-64) 75%,
      var(--milk) 100%
    ),
    url(/public/img/tools-table.jpg);
  background-position: top;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  margin: 0;
  padding: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bg-services {
  background: linear-gradient(
      to bottom,
      var(--milk-2) 0%,
      var(--milk-40) 50%,
      var(--milk-64) 75%,
      var(--milk) 100%
    ),
    url(/public/img/Network-optical-fiber-cables-and-hub-scaled-e1643602650739.jpg.webp);
  background-position: top;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  margin: 0;
  padding: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.services-title,
.services-subtitle {
  margin: 0;
  padding: 0;
}
.services-title h1 {
  font-size: 3rem;

  text-transform: uppercase;
  color: var(--jonquii);
}
.services-title {
  height: 110px;
  font-weight: 500;
}
.services-title span {
  color: var(--jagger);
  font-weight: 500;
}
.services-subtitle h6 {
  font-size: 1rem;
  color: var(--jagger);
  align-items: flex-end;
  align-content: flex-end;
  height: 110px;
}
.services-subtitle p {
  font-size: 1rem;
  color: var(--jagger);
  text-align: end;
  padding-right: 1rem;
}
.services-btn {
  text-align: center;
}
.services-btn .home-btn {
  padding-top: 2rem;
  text-align: center;
}
.services-btn .btn-title:hover {
  border: 1px solid rgba(138, 123, 123, 0.623);
  box-shadow: var(--jagger);
}
.services-btn .btn-title {
  position: relative;
  z-index: 50;
  background-color: #fff4e012;
  backdrop-filter: blur(15px);
  padding: 0.6rem 0.2rem 0.6rem 0.8rem;
  border: 1px solid rgba(114, 101, 101, 0.151);
  margin-left: 0;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  color: var(--jagger);
  font-weight: 500;
  font-size: 12px !important;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}
.services-btn .btn-title .fa {
  padding: 0rem 0.5rem;
  font-size: 11px;
  color: var(--jagger);
  background-color: var(--jonquii);
  padding: 0.6rem 0.6rem 0.5rem 0.6rem;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}
.itservices-content h3,
.telcoinfra-content h3 {
  padding-top: 1rem;
}

/* md sm widith 100% */
@media only screen and (max-width: 479px) {
}
@media screen and (min-width: 720px) {
  .services-item .col {
    width: 100%;
  }
}
@media only screen and (max-width: 920px) {
  .services-item .col {
    width: 100%;
  }

  .telcoinfra-content p,
  .itservices-content p {
    color: var(--hulk);
    font-size: 10;
  }
}
/* {profile} */
#profile {
  position: relative;
  z-index: 50;
}
.profile-title {
  margin: 0rem 0rem 4rem 0rem;
}
.profile-title h1 {
  font-size: 3rem;

  text-transform: uppercase;
  color: var(--jonquii);
}
.profile-title {
  height: 110px;
  font-weight: 500;
  padding-left: 1rem;
}
.profile-title span {
  color: var(--jagger);
  font-weight: 500;
}
.profile-title h6 {
  font-size: 1rem;
  color: var(--jagger);
  align-items: flex-end;
  align-content: flex-end;
}
.profile-title p {
  font-size: 1rem;
  color: var(--jagger);
  margin: 0;
  padding: 0;
}
/* {profile} */
/* {teams} */
#teams .row {
  background-image: url(/public/img/shape.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: center;
  background-blend-mode: hard-light;
  background-size: cover;
  object-fit: cover;
}
.team-title,
.team-subtitle {
  margin: 0;
}
.team-title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--jonquii);
}
.team-title {
  height: 110px;
  font-weight: 500;
  padding-left: 1rem;
}
.team-title span {
  color: var(--jagger);
  font-weight: 500;
}
.team-subtitle h6 {
  font-size: 1rem;
  color: var(--jagger);
  align-items: flex-end;
  align-content: flex-end;
  height: 100px;
}
.team-subtitle p {
  font-size: 1rem;
  color: var(--jagger);
  text-align: end;
  padding-right: 1rem;
}
.team-subtitle p .fa {
  color: var(--jonquii);
}
.ath_swiper_col {
  padding-left: 1rem;
  height: 400px;
  padding-right: 0px !important;
}
.ath_swiper_col .swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
.ath_swiper_col .swiper-slide {
  padding-right: 20px !important;
}
.ath_swiper_col .swiper-slide .topdown {
  margin-top: 1rem;
}
/* {product grid design} */
.ath_swiper_col .product-grid {
  text-align: center;
  overflow: hidden;
  position: relative;
  border: 1px solid #947b7b2a;
  background-color: var(--jagger-2);
  backdrop-filter: blur(15px);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ath_swiper_col .product-grid:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ath_swiper_col .product-grid:hover:before {
  border: 1px solid #947b7b8f;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.ath_swiper_col .product-grid .product-image {
  overflow: hidden;
  position: relative;
}

.ath_swiper_col .product-grid .product-image h4 {
  padding-top: 1rem;
  color: var(--jagger);
}
.ath_swiper_col .product-grid .product-image h6 {
  padding-bottom: 1rem;
  color: var(--jagger);
}
.ath_swiper_col .product-grid .product-image a {
  display: block;
}

.ath_swiper_col .product-grid .product-image img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 920px) {
  .ath_swiper_col .product-grid {
    margin-bottom: 0px;
  }

  .ath_swiper_col {
    padding-left: 0;
  }
}
/* {teams} */
/* {project} */
.project-title,
.project-content {
  margin: 0;
  padding: 0;
}
.project-title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--jonquii);
}
.project-title {
  height: 110px;
  padding-left: 1rem;
}
.project-title span {
  color: var(--jagger);
  font-weight: 500;
}
.project-title h6 {
  font-size: 1rem;
  color: var(--jagger);
}
.project-title p {
  font-size: 1rem;
  color: var(--jagger);

  padding-right: 1rem;
}
/* {project} */
/* {footer} */
.ntt-footer {
  padding-top: 2rem;
  margin: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  align-content: flex-end;
  align-items: flex-end;
}
.ntt-footer .footer-copyright {
  background-color: var(--jagger-56);
  backdrop-filter: blur(15px);
  color: var(--jagger);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  align-content: center;
  align-items: center;
  font-size: 12px;
}
.ntt-footer .footer-copyright p {
  margin-bottom: 0;
}
/* {footer}s */
