.yl_container-inner {
  width: 100%;
  height: 100%;
}
.spacer5 {
  margin-right: 5px;
}
/* {custom::class}  */
.border_box:hover {
  border: 1px solid var(--color-dark25);
  box-shadow: var(--box-shadow);
}
.border_box {
  border: 1px solid var(--color-dark15);
  transition: var(--all-trans3);
  -webkit-transition: var(--all-trans3);
  -moz-transition: var(--all-trans3);
  -ms-transition: var(--all-trans3);
  -o-transition: var(--all-trans3);
}
.fade_text {
  color: var(--color-dark50);
}
.line_devider {
  margin: 5rem 1rem 2rem 1rem;
  z-index: 1;
  background-image: linear-gradient(
    270deg,
    var(--color-light),
    var(--color-dark) 50%,
    var(--color-light)
  );
  opacity: 0.24;
  width: 100%;
  height: 1px;
  position: relative;
}
.yl_mob-btn {
  display: flex;
  margin: auto;
  justify-content: center;
} /* {global::padding} */
.yl_page {
  padding: 0;
  margin: 0;
}
.yl_padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.yl_top-container {
  margin-top: 1rem;
} /* {button} */
.button_danger {
  grid-column-gap: 0.5rem;
  color: var(--color-light);
  background-color: var(--color-danger);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
} /* button::warning */
.button_warning {
  grid-column-gap: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-warning);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
} /* button::dark */
.button_secondary {
  grid-column-gap: 0.5rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
} /* button::light */
.button_light {
  grid-column-gap: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-light);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
} /* button::primary */
.button_primary {
  grid-column-gap: 0.5rem;
  color: var(--color-light);
  background-color: var(--color-ocean);
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  width: auto;
  display: flex;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_blog-top,
.yl_blog-bottom {
  width: 100%;
  height: auto;
  padding: 1rem;
}
.yl_blog-top {
  border-top-left-radius: var(--radius-small);
  border-top-right-radius: var(--radius-small);
  border: 1px solid var(--color-dark25);
}
.yl_blog-bottom {
  border-bottom-left-radius: var(--radius-small);
  border-bottom-right-radius: var(--radius-small);
  border-bottom: 1px solid var(--color-dark25);
  border-left: 1px solid var(--color-dark25);
  border-right: 1px solid var(--color-dark25);
} /* custom class */
.yl_bottom-head-r-content {
  text-align: end;
}
.yl_card {
  margin: 10px;
  overflow: hidden;
  width: auto;
  height: auto;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.card-header {
  display: flex;
  flex-direction: column;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.card-header .yl_gradient {
  background-image: linear-gradient(to top, #fff4e0, #fff4e05b, #d5cadb00);
  width: 100%;
  height: 75%;
  z-index: 44;
  position: absolute;
  inset: auto 111% 111%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  z-index: 46;
  background-color: var(--color-light);
}
.line-devid-card {
  background: var(--color-dark25);
  margin: 10px 0;
  height: 1.5px;
  width: 100%;
}
.yl_card-body-date {
  height: 20px;
  color: var(--color-dark50);
  text-transform: uppercase;
  width: 100%;
}
.card-btn-head {
  height: 20px;
  align-items: center;
  text-align: end;
}
.yl_card-btn {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} /* @multimedia */
.yl_media-top-content {
  position: relative;
  height: 100%;
  padding: 1rem;
  width: auto;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}

.yl_media-top {
  height: 390px;
  background: linear-gradient(0deg, rgba(200, 163, 255, 0.6) 0, transparent);
  width: 100%;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_media-header {
  width: 100%;
  padding: 10px 0;
}
.yl_media-bottom {
  width: 100%;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_media-bottom iframe {
  width: 100%;
  height: 390px;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_media-slider::-webkit-scrollbar {
  display: none;
}
.yl_media-slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
}
.yl_media-slider-content-top {
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--color-dark15);
}
.yl_media-slider-content {
  border-bottom: 1px solid var(--color-dark15);
  padding: 10px 0;
}
.yl_media-slider-content-bottom {
  padding: 10px 0 0 0;
}
.yl_media-slider-content-top:hover :nth-child(2),
.yl_media-slider-content-bottom:hover :nth-child(2),
.yl_media-slider-content:hover :nth-child(2) {
  text-decoration: underline;
}
.yl_media-social {
  display: flex;
  gap: 30px;
  color: var(--color-darker);
  flex-direction: row;
  align-items: center;
}
.yl_media-social .fa {
  /* font-size: 40px; */
  font-size: 2em;
  align-items: center;
}
.yl_about,
.yl_media {
  border-top: 1px solid var(--color-dark15);
}
/* @about */
.yl_about-head {
  width: 100%;
  height: auto;
} /* berita */
.yl_card {
  overflow: hidden;
  width: auto;
  height: 580px;
  justify-content: space-between;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
  padding: 0;
  margin: 0;
}
.yl_card-header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.yl_card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.yl_card-header .yl_gradient {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 95),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.5),
    rgba(2255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
  width: 100%;
  height: 25%;
  position: absolute;
  inset: auto 0% 0%;
}
.yl_card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 0px 20px 10px 20px;
  height: 275px;
}
.yl_card-footer p {
  border-top: 1px solid var(--color-dark25);
  border-bottom: 1px solid var(--color-dark25);
  margin-bottom: 10px;
  padding: 10px 0;
}
.yl_card-footer {
  padding: 10px 20px 0px 20px;
}
.yl_card-btn:hover .fa {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}
.yl_card-btn {
  height: 20px;
  width: 100%;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
  transition: var(--all-trans7);
  -webkit-transition: var(--all-trans7);
  -moz-transition: var(--all-trans7);
  -ms-transition: var(--all-trans7);
  -o-transition: var(--all-trans7);
} /* yl_5sola slider */

.yl_5sola-bottom {
  width: 100%;
  height: 350px;
}
.yl_5sola-top {
  display: flex;
  justify-content: space-between;
}
.yl_5sola-wrapper {
  margin-top: 30px;
  max-width: 1600px;
  width: 100%;
  position: relative;
}
.yl_5sola-top-btn {
  display: flex;
}
.yl_5sola-top-btn .fa:hover {
  border: 2px solid var(--color-dark50);
  color: var(--color-dark50);
}
.yl_5sola-top-btn .fa {
  height: 40px;
  width: 40px;
  border: 2px solid var(--color-dark25);
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--all-trans3);
  -webkit-transition: var(--all-trans3);
  -moz-transition: var(--all-trans3);
  -ms-transition: var(--all-trans3);
  -o-transition: var(--all-trans3);
}
.yl_5sola-devide-btn {
  width: 10px;
  padding: 10px;
  height: 10px;
}
.yl_5sola-wrapper i:first-child {
  left: -22px;
}
.yl_5sola-wrapper i:last-child {
  right: -22px;
}
.yl_5sola-wrapper .yl_5sola-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  gap: 15px;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.yl_5sola-carousel::-webkit-scrollbar {
  display: none;
}
.yl_5sola-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.yl_5sola-carousel.no-transition {
  scroll-behavior: auto;
}
.yl_5sola-carousel.dragging .yl_5sola-card {
  cursor: grab;
  user-select: none;
}
@media screen and (max-width: 1030px) {
  .yl_5sola-wrapper .yl_5sola-carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}
@media screen and (max-width: 900px) {
  .yl_5sola-wrapper .yl_5sola-carousel {
    grid-auto-columns: calc((100% / 2) - 45px);
  }
}
@media screen and (max-width: 600px) {
  .yl_5sola-wrapper .yl_5sola-carousel {
    grid-auto-columns: 100%;
  }
}
.yl_5sola-carousel {
  background-color: transparent;
  background: transparent;
  align-items: center;
}
.yl_5sola-carousel .yl_5sola-card {
  width: 280px;
  height: 280px;
  list-style: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.card_5sola {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 270px;
  margin: -150px;
  float: left;
}
.content_5sola {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 10px;
  box-shadow: 0 0 0.25rem 0 rgba(38, 28, 110, 0.25);
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.card_5sola:hover .content_5sola {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.front_5sola img {
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.front_5sola,
.back_5sola {
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  background-image: radial-gradient(
    var(--color-ocean10),
    var(--color-light50),
    var(--color-light)
  );
  text-align: center;
  backface-visibility: hidden;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.back_5sola {
  height: 100%;
  width: 100%;
  background: var(--color-light);
  color: var(--color-darker);
  transform: rotateY(180deg);
  padding: 0.875rem;
}
.back_5sola p {
  font-size: 12px;
  color: var(--color-darker);
  line-height: 1.5;
}
/* jemaat */
.yl_inner-left1 {
  padding: 10px;
}
.yl_inner-left1,
.yl_inner-left2,
.yl_inner-right1,
.yl_inner-right2 {
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
  margin-bottom: 1rem;
}
.yl_inner-left-bottom,
.yl_inner-left-top {
  padding: 1rem;
}
.yl_inner-right {
  padding: 1rem;
  text-align: center;
}
.yl_inner-right2 {
  padding: 1rem;
} /* logo scroll */
.infinite-scroll_logo {
  display: flex;
  flex-wrap: nowrap;
  width: -moz-max-content;
  width: max-content;
  animation: infinite-scroll_logo 80s linear infinite;
  --animation-speed: var(--override-speed, 30s);
  -webkit-animation: infinite-scroll_logo 80s linear infinite;
}
.infinite-scroll_logo.infinite-scroll_reverse-logo {
  animation-direction: reverse;
  bottom: 0;
}
@keyframes infinite-scroll_logo {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} /* classstyle */
/* 1 */
.index_scrolling-logo-background {
  height: -moz-fit-content;
  height: fit-content;
  height: auto;
  z-index: -1;
  width: 100%;
  bottom: 0;
  padding-top: 0;
}
.index_scrolling-logo-background p {
  opacity: 0.15;
  color: black;
  letter-spacing: 12px;
}
.index_scrolling-logo-background.index_alternates {
  bottom: auto;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.index_scrolling-logo-background.index_alternates p {
  text-align: start;

  color: black;
}
.infinite-scroll_logo-wrap {
  width: 100%;
  overflow: hidden;
}
/* sylessss */
.yl_logo-scroll-container {
  padding-bottom: 1rem;
}
.yl_logo-scroll-content,
.yl_logo-scroll-container {
  width: 100%;
}
/* tabs */

/*{tabs}*/
.yl_tabs .tab-active:hover {
  border: 1px solid var(--color-dark25);
  box-shadow: var(--box-shadow);
}
.yl_tabs .tab-active {
  background-color: var(--color-danger);
  color: var(--color-light);
  border: 1px solid var(--color-dark15);
  transition: var(--all-trans3);
  -webkit-transition: var(--all-trans3);
  -moz-transition: var(--all-trans3);
  -ms-transition: var(--all-trans3);
  -o-transition: var(--all-trans3);
}
.yl_tabs-menu {
  position: sticky;
  position: -webkit-sticky;
  top: 1rem;
  z-index: 1011;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
  transition: var(--all-trans7);
  -webkit-transition: var(--all-trans7);
  -moz-transition: var(--all-trans7);
  -ms-transition: var(--all-trans7);
  -o-transition: var(--all-trans7);
}
.yl_tabs {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  height: 70px;
  background-color: var(--color-light);
  backdrop-filter: var(--blur35);
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_tabs h6 {
  text-align: center;
  padding-top: 14px;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
  transition: var(--all-trans3);
  -webkit-transition: var(--all-trans3);
  -moz-transition: var(--all-trans3);
  -ms-transition: var(--all-trans3);
  -o-transition: var(--all-trans3);
}
.yl_tabs-content {
  padding: 40px 0px 10px 0px;
}
.yl_tabs-content .yl_tabs-products {
  display: none;
}
.yl_tabs-content .tab-active {
  display: block;
} /* tabs::1::content::grid */
.yl_tabs-products {
  padding-top: 3rem;
}
.yl_tab_1-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .yl_tab_1-list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  .yl_tabs-products {
    padding-top: 2rem;
  }
} /* {tabs::1::::design */
.yl_tab_1-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.yl_tab_1-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
} /* tabs::2::content::grid */
.yl_tabs-products {
  padding-top: 4rem;
}
.yl_tab_2-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media only screen and (max-width: 920px) {
  .yl_tab_2-list {
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
} /* {tabs::2::::design */
.yl_tab_2-box {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.yl_tab_2-wrapper {
  z-index: 1;
  height: auto;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.yl_info-box {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 10px;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
  padding: 10px;
}
.yl_info-box-title {
  display: block;
  align-items: center;
}
.d-flexs {
  display: flex;
  align-items: center;
}
.yl_info-box-title .fa {
  margin-right: 10px;
}
.yl_info-box-downl {
  padding: 10px 5px 5px 5px;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
  text-align: center;
  align-items: center;
  color: var(--color-darker);
}
.yl_info-box-title .user-desc {
  font-size: small;
}
.yl_info-box-act {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
/* search sort */
.tabs_searc-sort {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.tabs_sortbar,
.tabs_searchbar {
  width: 100%;
}
.tabs_searc-sort input:focus {
  border: 1px solid var(--color-dark15);
  padding-left: 4px;
  outline: none;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.tabs_searchbar {
  height: 40px;
  border: 1px solid var(--color-dark15);
  font-size: 0.875rem;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.tabs_seacrh-clear {
  margin-left: 10px;
  padding: 10px;
  width: 40px;
  text-align: center;
  align-items: center;
  height: 40px;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
  cursor: pointer;
  font-weight: 500;
}
.clear-input-button {
  text-align: center;
  font-size: small;
}
.yl_table-warta,
.yl_info-box-title,
tbody,
tr,
td {
  width: 100%;
  max-width: 100%;
}
.clear-input-container {
  position: relative;
  display: inline-block;
}
.yl_bold,
.yl_semi-bold,
.yl_text-bold,
.yl_text-semi-bold {
  font-weight: 600;
}
.yl_head-1,
.yl_head-2 {
  justify-content: center;
  text-align: center;
}
.yl_head-1 p,
.yl_head-2 p {
  font-size: 0.7rem;
}
.yl_head-title {
  text-align: center;
  padding-bottom: 10px;
}
.logobox p {
  font-size: 10px;
}
.logobox {
  height: 50px;
  width: 300px;
  display: flex;
  color: var(--color-dark);
  margin: 10px 20px 10px 40px;
  border: 1px solid black; /* hapus jika selesai dev */
} /* about pendeta */
.yl_head-org-btn {
  margin-top: 10px;
  display: block;
  width: 100%;
  gap: 10px;
  margin-top: 40px;
  align-items: center;
  justify-items: center;
}
/* infintiy logo slide */
.yl_slide-logo_logos {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  border-bottom-left-radius: var(--radius--small);
  border-bottom-right-radius: var(--radius--small);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1rem;
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .yl_slide-logo_logos {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    padding-bottom: 1rem;
  }
}
.yl_logos-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.yl_logo-grid {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.yl_logo-grid.logo-animate {
  width: 64rem;
}
.div-block-52 {
  border-radius: 50%;
  background-color: var(--color-light);
  width: 5rem;
  height: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.div-block-53 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.div-block-54 {
  border: 1px solid var(--color-dark15);
  border-radius: var(--radius-small);
  background-color: var(--color-light);
  padding: 0.75rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Animation for the first right to left marquee */
@keyframes slide {
  0% {
    transform: translateX(calc(0% + 50px));
  }
  100% {
    transform: translateX(-100%);
  }
}
.logo-animate {
  animation: slide 35s infinite linear; /* Adjust the seconds for a slower or faster animation */
}
/* Animation for the second left to right marquee */
@keyframes slidealt {
  0% {
    transform: translateX(calc(0% + 50px));
  }
  100% {
    transform: translateX(-100%);
  }
}
.yl_youtube-btn,
.yl_facebook-btn,
.yl_instagram-btn {
  margin: 20px 0 20px 0;
}
.yl_youtube-btn svg {
  color: rgb(228, 30, 30);
}
.yl_facebook-btn svg {
  color: rgb(38, 38, 203);
}
.yl_instagram-btn svg {
  color: #f15245;
}
.yl_youtube-btn .tooltiptext {
  background-color: rgb(228, 30, 30);
}
.yl_facebook-btn .tooltiptext {
  background-color: rgb(38, 38, 203);
}
.yl_instagram-btn .tooltiptext {
  background-color: #f15245;
}
.yl_youtube-btn .tooltiptext,
.yl_facebook-btn .tooltiptext,
.yl_instagram-btn .tooltiptext {
  visibility: hidden;
  width: auto;
  /*colorofthetooltiptext*/
  color: var(--color-light);
  text-align: center;
  font-style: italic;
  font-size: smaller;
  padding: 5px;
  position: absolute;
  margin-top: 43px;
  z-index: 1;
  border-radius: var(--radius-small);
  -webkit-border-radius: var(--radius-small);
  -moz-border-radius: var(--radius-small);
  -ms-border-radius: var(--radius-small);
  -o-border-radius: var(--radius-small);
}
.yl_youtube-btn:hover .tooltiptext {
  visibility: visible;
}
.yl_facebook-btn:hover .tooltiptext {
  visibility: visible;
}
.yl_instagram-btn:hover .tooltiptext {
  visibility: visible;
}
